body {
  margin: 0;
  font-family: 'League Spartan', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --dark-gray: hsl(0, 0%, 63%);
  --very-dark-gray: hsl(0, 0%, 27%);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

img  {
  display: block;
}